SUPABASE_URL=https://vjopczwmkkvjmkkcykea.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqb3Bjendta2t2am1ra2N5a2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NzQzOTgsImV4cCI6MjA5ODM1MDM5OH0.Jc40lPSMoN0CFojHolb2kTIlSl8Xzq4oT5ZJl6Dyjq4
